.wrapper{
    & input{
    margin-bottom: 20px;
    border-color: aqua;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #192a56;
    display:block;
    }
    & button{
     padding: 5px 20px;
     text-align: center;
     border-radius: 5px;
     background-color: #273c75;
     border-color: aliceblue;
     color: white;
     border: 2px solid aqua;
     width: 100px !important;
     display: block;
     
    }
    & label{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
        color: white;
    }
    & textarea{
        margin-bottom: 20px;
        border-color: aqua;
        outline: none;
        border-radius: 5px;
        padding: 5px;
        background-color: #192a56;
        display:block;
    }
    & form{
        width: 306px;
        background-color: #192a56;
        margin: 20px auto;
        padding: 20px;   
        border-radius: 10px;

      }

}

.view-container{
    border-radius: 20px;
    background-color: #273c75;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}